#container{
    height: 100%;
    width: 100%;
    display: flex;
    
    justify-content: space-evenly ;
    border-color: blue;
}


#grid {
    height: 320px;
    width: 320px;
    border: 3px solid yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    
    
    ;
    
  }

  .gridDivs{
      display: flex;
      flex-grow: 2;
      flex-shrink: 1;
      align-self: center;
      
  }

  #cell{
      border:1px green;
  }
/*hover effect to change div background color*/
  /*.gridDivs:hover {
    background-color: darkblue;
   
  }